.error{
  border:2px red solid;
}
body{
  background-image: url("./html-css/sponsor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}
.b{
  background-color: white;
}
.well{
  margin-top:0;
}
