  
  body,html{
    height:100%;
    overflow:auto;
    background: url(warehouse.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #addItem {
            display: none;
        }
        .userText{
            color:blue;
            background-color:white;
            border-radius:25px;
        }
        hr {
            margin-top: 3px;
            margin-bottom: 5px;
            color: blue;
        }
         .well{
            min-height:200px;
            overflow:auto;
        }
        #form{
            display: none;
        }
        .btn-primary,
        #binSelector {
            width: 100%;
            text-align-last: center;
        }
       